body {
    font-family: "Work Sans", sans-serif;
 
    background: rgb(39, 38, 38);
}
.time { 
  margin:200px auto;
    background: rgb(12, 12, 12);
    color: #00fdf1;
    border: 9px solid rgb(14, 223, 31);
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 8px;
    text-align: center;
    width: 600px;
}
.hms {
    font-size: 80pt;
    font-weight: 300;
}
.ampm {
    font-size: 22pt;
}
.date {
    font-size: 25pt;
}